div {
    border: 2px black solid;
}

.menu {
    list-style: none;
}

.flex {
    display: flex;
}
.flex h3{
    display: flex;
}

.iconos img{
    width: 20px;
    height: auto;
}

.between {
    justify-content: space-between;
}

.iconos2 img{
    width: 30px;
    height: auto;
}

.gap {
    gap: 50px;
}

.gap2 {
    gap: 20px
}

body {
    background-image: url(imagenes/fondo.jpg);
}

.quitarmargen {
    margin: 0;
}

