

.justificarcentro {
    justify-content: center;
}
.menu {
    list-style: none;
}

.flex {
    display: flex;
}
.flex h3{
    display: flex;
}

.iconos img{
    width: 20px;
    height: auto;
}

.between {
    justify-content: space-between;
}

.iconos2 img{
    width: 30px;
    height: auto;
}

.gap {
    gap: 50px;
}

.gap2 {
    gap: 20px;
}

main {
    display: flex;
    justify-content: center;
    background-image: url(imagenes/fondo1.jpg);
    background-size: cover;
}

.quitarmargen {
    margin: 0;
}

.backgroundblanco {
    background-color: white;
}

.backgroundazul {
    background-color: #001a57;
}

.colorblanco {
    color: white;
}

.container {
    padding-right: 56px;
    padding-left: 56px;
}

.container2 {
    width: 1600px;
}

.menu a{
    text-decoration: none;
    list-style: none;
    color: black;
}

footer {
    display: flex;
    bottom: 0;
    width: 100%;
    position: fixed;
    justify-content: center;
    background-color: #001a57;
    color: white;
}

.column {
    align-items: center;
    flex-direction: column;
}

.ppp{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 800px;
}